# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
devtools_options.yaml
problems-report.html

*/Podfile.lock

**/generated*
**/Generated*

**/generated_plugin_registrant.*
**/generated_plugins.*
**/GeneratedPluginRegistrant.*
**/linux/flutter/generated_plugin_registrant.cc
**/linux/flutter/generated_plugins.cmake
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugins.cmake

# Flutter/Dart/Pub related
**/doc/api/
# iOS 相关
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/.last_build_id
.dart_tool/
.packages
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
pubspec.lock  # 如果是应用，可以保留；如果是库，通常保留
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/app/.cxx/
android/app/build/
android/local.properties


# 密钥/环境文件
*.env
*.key
**/secrets.dart
